<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.1.0" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.1.0" targetFramework="net40" />
  <package id="FluentValidation" version="3.4.6.0" targetFramework="net40" />
  <package id="FluentValidation.MVC3" version="3.4.6.0" targetFramework="net40" />
  <package id="log4net" version="2.0.0" targetFramework="net40" />
  <package id="MiniProfiler" version="2.0.2" targetFramework="net40" />
  <package id="RestSharp" version="104.1" targetFramework="net40" />
  <package id="SignalR.Hosting.Common" version="0.5.2" targetFramework="net40" />
  <package id="SignalR.Server" version="0.5.2" targetFramework="net40" />
  <package id="SquishIt" version="0.9.0-alpha3" targetFramework="net40" />
  <package id="SquishIt.Less" version="0.9.0-alpha3" targetFramework="net40" />
  <package id="YUICompressor.NET" version="2.0.0.0" targetFramework="net40" />
</packages>