# Build Folders
sql
bin
obj

#Other folders
Uploads

# not a build folder per se, but the NuGet packages repository
packages

# mstest test results
TestResults

# Local cache files
_ReSharper*
*.cache
*.debug.css

# local environment configuration files
*.suo
*.user
desktop.ini

# db project files
*.dbmdl
*.schemaview

# project upgrade files
Backup*
UpgradeLog*.htm
UpgradeLog*.XML
_UpgradeReport_Files

# utilities
myRebase.sh

# logs
*.svclog