<noscript>
    <div id="noscript-notice">
        <div>@Resource.Raw("Notice")</div>
        <!--[if lt IE 9]>
            <div class="ie-warning">@Resource.Raw("WarningAboutIE")</div>
        <![endif]-->
    </div>
</noscript>