<?xml version="1.0" encoding="utf-8"?>

<log4net>
  <appender name="sql" type="Swarm.Overmind.Domain.Logic.log4net.RealtimeAdoNetAppender, Swarm.Overmind.Domain.Logic">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionStringName value="SqlServerConnectionString" />
    <commandText value="INSERT INTO [Log]	([Date],    [Thread], [Level],    [Logger], [Message],  [Exception],  [StackTrace],	[SQL],	[RequestUrl])  VALUES
												                  (@date,	    @thread,  @level,     @logger,  @message,   @exception,   @stack_trace,	@sql,	  @requestUrl)" />

    <parameter>
      <parameterName value="@date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>

    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="32" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%t" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value="@level" />
      <dbType value="String" />
      <size value="512" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="512" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%c" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m" />
      </layout>
    </parameter>

    <parameter type="Swarm.Common.log4net.NullableAdoNetParameter, Swarm.Common">
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="512" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%exception{message}" />
      </layout>
    </parameter>

		<parameter type="Swarm.Common.log4net.NullableAdoNetParameter, Swarm.Common">
      <parameterName value="@stack_trace" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%exception{stacktrace}" />
      </layout>
    </parameter>

		<parameter type="Swarm.Common.log4net.NullableAdoNetParameter, Swarm.Common">
      <parameterName value="@sql" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%data{SQL}" />
        <converter>
          <name value="data" />
          <type value="Swarm.Common.log4net.ExceptionDataPattern, Swarm.Common" />
        </converter>
      </layout>
    </parameter>

		<parameter type="Swarm.Common.log4net.NullableAdoNetParameter, Swarm.Common">
      <parameterName value="@requestUrl" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%url" />
        <converter>
          <name value="url" />
          <type value="Swarm.Common.Mvc.log4net.RequestUrlPattern, Swarm.Common.Mvc" />
        </converter>
      </layout>
    </parameter>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="sql" />
  </root>
</log4net>