/* MISC
----------------------------------------------------------*/

.clear { clear: both; }

.left { float: left; }

.right { float: right; }

.hidden { display: none !important; }

.center { text-align: center; }

.medium-screen { display: none !important; }

@media only screen and (min-width: 768px) {
    .medium-screen { display: inherit !important; }
}