@model ReportViewModel
<article class="report">
	<section class="toolbox">
		<a class="abort">@Resource.String("Abort")</a>
		<section class="status"></section>
	</section>
	<article class="charts">
		<section class="index">
			<div id="timeLine"></div>
		</section>
		<section class="overall">
			<div id="workload"></div>
			<div id="overall"></div>
		    <div id="responseTime"></div>
            <div id="resultsCake"></div>
		</section>
		<section class="drones"></section>
	</article>
</article>