/* EXCEPTION DISPLAY TEMPLATE
----------------------------------------------------------*/

.exception { padding: 8px; }

.exception > header {
    font-weight: bold;
    font-size: 1.1em;
    color: #c00000;
    margin-bottom: 5px;
}

.exception > .sql,
.exception > .stacktrace {
    line-height: 1.2em;
    color: #333;
    display: none; /* minimal exception information on small screens */
}

.exception > .stacktrace p {
    margin: 0 0 0 5px;
    font-size: 0.8em;
}

.exception > .inner {
    margin-left: 20px;
    display: none; /* minimal exception information on small screens */
}



/* PARTIAL ERROR
----------------------------------------------------------*/

section.rendering-error {
    color: #C00000;
    font-size: 0.8em;
    font-weight: bold;
    margin: 10px;
}



/* ERROR VIEWS
----------------------------------------------------------*/

h1.error-title { display: none; }

h2.error-description {
    font-size: 1em;
    text-align: center;
    color: #462046;
}

section#error-page {
    padding: 20px;
    text-align: center;
}

section#error-page img { width: 160px; }

section#error-page > section#server-room,
section#error-page > aside#error-content,
section#error-page > footer,
img#servers { display: none; }

img#nomnom-standing { vertical-align: middle; }



@media only screen and (min-width: 768px) {
    /* EXCEPTION DISPLAY TEMPLATE
    ----------------------------------------------------------*/

    .exception { margin-bottom: 20px; }

    .exception > .sql,
    .exception > .stacktrace,
    .exception > .inner { display: inherit; }
   
   
    
    /* ERROR VIEWS
    ----------------------------------------------------------*/

    h1.error-title { display: inherit; }
    
    
    img#server { padding-right: 2px; }

    img#nomnom { padding-left: 4px; }

    section#error-page {
        margin: 0 auto;
        max-width: 500px;
    }

    section#error-page img { width: 200px; }

    section#error-page > img#notfound-sign,
    section#error-page > aside#error-content {
        display: inline-block;
        vertical-align: middle;
    }

    aside#error-content {
        width: 250px;
        padding-left: 30px;
        border-left: 1px solid #642D64;
        margin-left: 10px;
        text-align: left;
    }

    aside#error-content header {
        color: #642D64;
        font-weight: bold;
        margin-bottom: 20px;
    }

    aside#error-content p {
        font-size: 0.9em;
        line-height: 1.3em;
        margin-bottom: 10px;
    }

    section#error-page > footer { clear: both; }

    section#error-page > footer .apologies {
        text-align: center;
        padding-top: 30px;
        color: #642D64;
        clear: left;
        font-size: 1.2em;
    }

    section#error-page > footer a {
        text-align: center;
        display: block;
        padding-top: 3px;
    }
}



@media only screen and (min-width: 1024px) {
    /* NOT FOUND VIEW
    ----------------------------------------------------------*/
    section#error-page { max-width: 1200px; }

    section#error-page > section#server-room {
        margin-right: 20px;
        display: inherit;
        float: left;
    }

    section#error-page > section#server-room img { width: 180px; }

    section#error-page > footer { display: inherit; }

    img#server { vertical-align: middle; }

    img#nomnom { vertical-align: bottom; }



    /* UNHANDLED EXCEPTION VIEW
    ----------------------------------------------------------*/

    section#error-page > img#servers {
        margin-right: 20px;
        display: inherit;
        float: left;
        width: 40%;
    }

    section#error-page > img#nomnom-standing,
    section#error-page > aside#error-content { margin-top: 20px; }
}