<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServicePointLimit" value="500" />
    <add key="WorkerThreads" value="15000" />
    <add key="ExceptionDetails" value="true" />
    <add key="OvermindApi.BaseUrl" value="http://overmind.groupcommerce.com" />
    <add key="OvermindApi.PostLog" value="rest/log" />
    <add key="OvermindApi.PostSnapshot" value="rest/snapshot" />
		<add key="OvermindApi.PostStatusUpdate" value="rest/update" />
  </appSettings>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
							switchValue="All, ActivityTracing"
							propagateActivity="true">
        <listeners>
          <add name="traceListener"
							type="System.Diagnostics.XmlWriterTraceListener"
							initializeData= "logs/trace.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>