<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="log4net.Internal.Debug" value="false" xdt:Locator="Match(key)" xdt:Transform="Replace" />

    <add key="Debug.RequestLog" value="false" xdt:Locator="Match(key)" xdt:Transform="Replace" />

    <add key="Debug.IgnoreMinification" value="false" xdt:Locator="Match(key)" xdt:Transform="Replace" />

    <add key="Site.Port" value="80" xdt:Transform="Insert" />
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>