<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.2.0" targetFramework="net40" />
  <package id="Castle.Core" version="3.1.0" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.1.0" targetFramework="net40" />
  <package id="Castle.Windsor.Lifestyles" version="0.2.0-alpha1" targetFramework="net40" />
  <package id="log4net" version="2.0.0" targetFramework="net40" />
  <package id="MiniProfiler" version="2.0.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net40" />
  <package id="SignalR.Hosting.Common" version="0.5.2" targetFramework="net40" />
  <package id="SignalR.Server" version="0.5.2" targetFramework="net40" />
  <package id="SquishIt" version="0.9.0-alpha3" targetFramework="net40" />
</packages>